/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9fafc;
    margin: 0;
    padding: 20px;
    color: #333;
}

/* Container principal - ajustado para mais largura */
.container {
    width: 95%; /* Aumentando a largura */
    max-width: 1300px; /* Ajustando o limite máximo da largura */
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 1.8rem;
    font-weight: 600;
}

/* Estilização da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

thead {
    background-color: #d2a01c;
    color: #fff;
    height: 42px;
}

th, td {
    padding: 6px;
    text-align: left;
}

th {
    font-weight: 600;
    letter-spacing: 0.5px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e9ecef;
}

/* Botão de ação - botão remover ajustado */
.remove-btn {
    background-color: #ca0808;
    color: #fff;
    padding: 6px 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.remove-btn:hover {
    background-color: #bd2130;
}

/* Link para detalhes */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Dropdown de status */
select {
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

select:hover, select:focus {
    border-color: #87d48c;
}

/* Melhorando o layout do rodapé */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem;
    color: #888;
}
/* styles/admin_pedidos.css */
.hide-row {
    display: none; /* Esconde a linha */
}

#voltar{
    position: relative;
    top: -847px;
    right: -12px;
    
}