A {text-decoration: none;}
    * {
            margin:0;
            box-sizing: 0;
        }
body {
            width: 100vw;
            height: 100vh;
            background-repeat: no-repeat;
            background-image: url("../imagens/pizza1.jpg");
            background-size: 100%;
            position: fixed;
            margin: 0;
            overflow: hidden;
           
}

#textocarrinho{
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Merriweather Sans', sans-serif;
    position: fixed;
    top: 90px;
    
}

header{
display: block;
flex-direction: row;
justify-content: space-between;
align-items: center;

}



@font-face {
    font-family: minhaFonte;
    src: url(../fonts/AadPro-Bold.woff2);
}
@font-face {
    font-family: minhaFonte2;
    src: url(../fonts/Mooli-Regular.ttf);
}
@font-face {
    font-family: minhaFonte3;
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: minhaFonte4;
    src: url(../fonts/Nunito-VariableFont_wght.ttf);
}
@font-face {
    font-family: minhaFonte5;
    src: url(../fonts/MerriweatherSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: minhaFonte6;
    src: url(../fonts/GraviolaSoftRegular.otf);
}
@font-face {
    font-family: minhaFonte7;
    src: url(../fonts/Graviola-Regular.otf);
}



#botaobaixo{
    border: 11px solid #d2a01c;
    background-color: #d2a01c;
    border-radius: 50px;
    right: 639px;
    position: fixed;
    font-size: 30px;
    font-family: minhaFonte;
    margin: 0px;
    top: 529px;
    list-style-type: none

}

#botaobaixo:hover{
    border: 2px solid #d2a01c;
    background: transparent;
    padding: 10px;
    border-radius: 50px;
    transition-delay: 0s;
    transition-duration: 0.4s;
    opacity: 1;

}
#textbaixo:hover{
    color: #d2a01c;
}

#botaoembaixo{
    text-align: center;
    width: 100%;
    color: rgb(243, 239, 239);
    font-size: 70px;
    font-family: 'Merriweather Sans', sans-serif;
    position: fixed;
    top: 400px;
   left: -86px;
    
}

#textbaixo{
    font-size: 15px;
    font-family: minhaFonte;
    margin:0;
    width: 150px;
    cursor: pointer; 
    text-align: center;
    position: relative;
    top: -1px;
    color: #e9e7e6;
}

textbaixo:visited {
    color: white; /* Altera a cor do link após ser visitado */
    
}







@media screen and (min-width: 1500px) {
    body {
            width: 100vw;
            height: 100vh;
            background-repeat: no-repeat;
            background-image: url("../imagens/pizza1.jpg");
            background-size: 2000px;
            position: fixed;
            margin: 0;
            overflow: hidden
    }

}

@media screen and (min-width: 1500px) {
    ul{
        text-align: left;
        width: 100%;
        color: rgb(243, 239, 239);
        font-size: 15px;
        font-family: 'Merriweather Sans', sans-serif;
        position: fixed;
        top: 100px;
        right: auto;
        
    }

}
@media screen and (max-width: 1172px) {
    #texto{
        text-align: center;
        width: 100%;
        color: rgb(243, 239, 239);
        font-size: 70px;
        font-family: 'Merriweather Sans', sans-serif;
        position: fixed;
        top: 5000px;
        
    }

}
