body{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url("../imagens/10.png");
    background-size: 105%;
    position: fixed;
    margin: 0;
    overflow: hidden;
}

    @font-face {
        font-family: minhaFonte;
        src: url(../fonts/AadPro-Bold.woff2);
    }
    @font-face {
        font-family: minhaFonte2;
        src: url(../fonts/Mooli-Regular.ttf);
    }
    @font-face {
        font-family: minhaFonte3;
        src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
    }
    @font-face {
        font-family: minhaFonte4;
        src: url(../fonts/Nunito-VariableFont_wght.ttf);
    }
    @font-face {
        font-family: minhaFonte5;
        src: url(../fonts/MerriweatherSans-VariableFont_wght.ttf);
    }
    @font-face {
        font-family: minhaFonte6;
        src: url(../fonts/GraviolaSoftRegular.otf);
    }
    @font-face {
        font-family: minhaFonte7;
        src: url(../fonts/Graviola-Regular.otf);
    }

#textestoque{
    position: relative;
    top: 36px;
    left: 596px;
    font-size: 50px;
    font-family: monospace;
}
#textingredientes2{
    position: relative;
    top: -77px;
    left: 715px;
    font-family: monospace;
}
#link2{
    position: relative;
    top: -121px;
    left: 720px;
    font-family: monospace;
    color: rgb(48, 152, 0);

}
#tabela1{
    position: fixed;
    top: 254px;
    left: 110px;
    font-size: 16px;
    font-family: monospace;
    text-align: center;
}
#textingredientes1{
    position: relative;
    top: 58px;
    left: 114px;
    font-family: monospace;
}
#links1{
    position: relative;
    top: 15px;
    left: 114px;
    font-family: monospace;
    color: black;
}
a{
    text-decoration: none;
}
#tabela2{
    position: fixed;
    top: 253px;
    left: 713px;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
}
#link3{
    position: relative;
    top: -286px;
    left: 1168px;
    font-family: monospace;

}
#links1:visited{
    color: rgb(0, 0, 0);
}

#link2:visited{
    color: rgb(48, 152, 0);
}

#link3:visited{
    color: rgb(0, 0, 0);
}

a:visited{
    color: rgb(22, 106, 4);
}

#excluir:visited{
    color: rgb(255, 9, 9);
}
#excluir{
    color: rgb(197, 6, 6);
}
#editar:visited{
    color: rgb(4, 2, 114);
}
#editar{
    color: rgb(4, 2, 114);
}