body{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url("../imagens/11.png");
    background-size: 105%;
    position: fixed;
    margin: 0;
    overflow: hidden;
}

    @font-face {
        font-family: minhaFonte;
        src: url(../fonts/AadPro-Bold.woff2);
    }
    @font-face {
        font-family: minhaFonte2;
        src: url(../fonts/Mooli-Regular.ttf);
    }
    @font-face {
        font-family: minhaFonte3;
        src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
    }
    @font-face {
        font-family: minhaFonte4;
        src: url(../fonts/Nunito-VariableFont_wght.ttf);
    }
    @font-face {
        font-family: minhaFonte5;
        src: url(../fonts/MerriweatherSans-VariableFont_wght.ttf);
    }
    @font-face {
        font-family: minhaFonte6;
        src: url(../fonts/GraviolaSoftRegular.otf);
    }
    @font-face {
        font-family: minhaFonte7;
        src: url(../fonts/Graviola-Regular.otf);
    }

    #pedidos{
        position: relative;
        top: 36px;
        left: 596px;
        font-size: 50px;
        font-family: monospace;
    }


a{
    text-decoration: none;
    font-family: monospace;
    color: black;
}
table{
    font-family: monospace;
    font-size: 16px;
    position: fixed;
    left: 50px;
    top: 177px;
    text-align: center;
}
h2{
    font-family: monospace;
    position: relative;
    left: 50px;
    top: 24px;
}
#link3{
    top: 161px;
    position: relative;
    left: 53px;
}
#link3:visited{
    color: rgb(0, 0, 0);
}
a:visited{
    color: rgb(0, 0, 0);
}
#excluir:visited{
    color: rgb(255, 9, 9);
}
#excluir{
    color: brown;
}
#editar:visited{
    color: rgb(4, 2, 114);
}
#editar{
    color: rgb(4, 2, 114);
}