/* Define uma paleta de cores suave e amigável */
:root {
    --primary-color: #FF6347; /* Tomate - cor principal */
    --secondary-color: #4CAF50; /* Verde - cor de destaque */
    --background-color: #f7f7f7; /* Cor de fundo clara */
    --text-color: #333; /* Cor de texto escura */
    --button-hover-color: #FF4500; /* Cor do botão ao passar o mouse */
    --input-border-color: #ccc; /* Cor da borda dos campos de input */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
    font-size: 28px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-size: 16px;
    color: var(--text-color);
}

select, input[type="number"], input[type="checkbox"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

select:focus, input[type="number"]:focus {
    border-color: var(--primary-color);
    outline: none;
}

input[type="checkbox"] {
    margin-top: -15px;
    width: auto;
    margin-right: 274px;
}

#bebidas_container {
    margin-top: 10px;
}

button {
    margin-top: 20px;
    padding: 12px;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-color);
}

#bebidas_container {
    display: none;
}

#bebidas_container label {
    margin-top: 10px;
}

#sabores_container {
    margin-top: 10px;
}

#sabores_container select {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    label, select, input[type="number"], input[type="checkbox"], button {
        font-size: 14px;
    }
}
