
    table {
        border-collapse: collapse;
        position: absolute;
        top: 500px;
        font-size: 70px;
    }
    
    td {
        padding: 25px;
        display: inline-block;
        margin-left: 154px;
        font-family: minhaFonte7;
        color: yellow;
    }

    tr {
        display: contents;
        border: 0px;
    }

    @font-face {
        font-family: minhaFonte7;
        src: url(../fonts/GROBOLD.ttf);
    }
