
    table {
        
        
        top: 452px;
        font-size: 58px;
        left: 89px;
        
        
    }
    tbody {
        position: fixed;
        
    }

    td {
    
    }
    
    tr {
        width: 302px;
        position: relative;
        display: inline-block;
        border: 0px;
        font-family: minhaFonte7;
        color: yellow;
        border-spacing: 73px;
        top: -791px;
        left: 96px;
    }

    @font-face {
        font-family: minhaFonte7;
        src: url(../fonts/GROBOLD.ttf);
    }
