
    table {
        border-collapse: collapse;
        position: absolute;
        top: 444px;
        font-size: 58px;
        margin-left: 89px;
    }
    td{
        margin-right: 30px;
    }

    td {
        padding: 31px;
        display: inline-block;
        margin-left: 49px;
        font-family: minhaFonte7;
        color: yellow;
    }

    tr {
        display: contents;
        border: 0px;
    }

    @font-face {
        font-family: minhaFonte7;
        src: url(../fonts/GROBOLD.ttf);
    }
