A {text-decoration: none;}
    * {
            margin:0;
            box-sizing: 0;
        }
body {
            width: 100vw;
            height: 100vh;
            background-repeat: no-repeat;
            background-image: url("../imagens/backgroundmaisescuro.png");
            background-size: 100%;
            position: fixed;
            margin: 0;
            overflow: hidden;
            background-size: cover;
           
}
#logo{
    text-align: center;
}
#logo1{
    width: 286px;
    height: 224px;
    
}
#banner1{
    position: relative;
    top: 395px;
    left: 580px;
    height: 377px;
    width: 251px;
}
#banner2{
    position: relative;
    top: 395px;
    left: 663px;
    height: 377px;
    width: 251px;
}
#banner3{
    position: relative;
    top: 395px;
    left: -269px;
    height: 377px;
    width: 251px;
}
.exemplo{
    transition-delay: 0s;
    transition-duration: 0.3s;
}
#display{
    display: flex;
}

#menu {
    margin-top:-28%;
    
}
header{
display: block;
flex-direction: row;
justify-content: space-between;
align-items: center;

}

li{
display: inline-block;
margin: 20px;

}

ul{
    text-align: left;
    width: 100%;
    color: rgb(243, 239, 239);
    font-size: 15px;
    font-family: 'Merriweather Sans', sans-serif;
    position: fixed;
    top: 100px;
    
}

#promo{
    color: #d7a41d;
}
@font-face {
    font-family: minhaFonte;
    src: url(../fonts/AadPro-Bold.woff2);
}
@font-face {
    font-family: minhaFonte2;
    src: url(../fonts/Mooli-Regular.ttf);
}
@font-face {
    font-family: minhaFonte3;
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: minhaFonte4;
    src: url(../fonts/Nunito-VariableFont_wght.ttf);
}
@font-face {
    font-family: minhaFonte5;
    src: url(../fonts/MerriweatherSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: minhaFonte6;
    src: url(../fonts/GraviolaSoftRegular.otf);
}
@font-face {
    font-family: minhaFonte7;
    src: url(../fonts/Graviola-Regular.otf);
}


#inscreva-se-btn{
    border: 2px solid #ca0808;
    background-color: #ca0808;
    border-radius: 50px;
    right: 62px; 
    position: fixed;
    font-size: 30px;
    font-family: minhaFonte;
    margin: 0px;
    top: 108px;

}
#inscreva-se-btn:hover{
border: 2px solid white;
background: transparent;
padding: -1px;
border-radius: 50px;
transition-delay: 0s;
transition-duration: 0.4s;
opacity: 1;

}

#menudireito{
    font-family: 'Merriweather Sans', sans-serif;
    right: 10px; 
    position:absolute;
    font-size: 25px;
    font-family: minhaFonte;
    display: inline-block;
    margin: 0px;
    
}

#text{
    color: white;
    font-size: 15px;
    font-family: minhaFonte7;
    margin:0;
    width: 150px;
    cursor: pointer; 
    text-align: center;
    position: relative;
    top: -6px;
}
#textotel{
    font-size: 13px;
    color: #ececec;
    position: fixed;
    top: 124px;
    left: 894px;
    font-family: 'Merriweather Sans', sans-serif;
    cursor: pointer;
    transition-delay: 0s;
    transition-duration: 0.4s;

}
#iconetel{
    font-size: 20px;
    position: fixed;
    top: 123px;
    left: 868px;
}


#localizacao{
    color: #ececec;
    position: relative;
    top: 276px;
    left: 938px;
}
#textolocal{
    font-size: 15px;
    color: #ececec;
    position: fixed;
    top: 122px;
    left: 1056px;
    font-family: 'Merriweather Sans', sans-serif;
    cursor: pointer;
    transition-delay: 0s;
    transition-duration: 0.4s;

}
#iconelocal{
    font-size: 20px;
    position: fixed;
    top: 123px;
    left: 1032px;
}

.exemplo{
    color: #e9e7e6;
}
.exemplo:hover{
    color: #d7a41d;
}
#textotel{
    color: #e9e7e6;
}
#textotel:hover{
    color: #d7a41d;
}
#textolocal{
    color: #e9e7e6;
}
#textolocal:hover{
    color: #d7a41d;
}

