A {text-decoration: none;}
    * {
            margin:0;
            box-sizing: 0;
        }
body {
            width: 100vw;
            height: 100vh;
            background-image: url("../imagens/fundomadeira.jpg");
            background-size: 100%;
            margin: 0;
            overflow-y: hidden;
           
}
::-webkit-scrollbar{
    background-color: red;
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
::-webkit-scrollbar-thumb{
    background-color: yellow;
    border-radius: 5px;
}

#scroll{
    width: 100vw;
            height: 100vh;
            background-repeat: no-repeat;
            background-image: url("../imagens/fundomadeira.jpg");
            background-size: 100%;
            margin: 0;
            overflow-y:auto;
            overflow-x: hidden;
}
#sabores1{
    text-align: center;
    width: 60%;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'minhaFonte8';
    position: fixed;
    right: 295px;
    top: 54px;
}
#caixa{
    width: 116vw;
    height: 14rem;
    background: transparent;
    margin: 37rem auto 0 auto;
    border: solid 0px;
    display: flex;
    padding: 0rem;
    margin-left: 2rem;
}

#caixa div{
    min-width: 18rem;
    max-height: 35rem;
    border: solid 0px;
    
}
#caixa div p{
    margin-top: 40%;
    margin-left: 40%;
    font: bold 2rem sans-serif;
    color: white;
}
#pizza1{
    background-image: url(../imagens/pizzamodelo1.png);
    height: 271px;
    background-repeat: no-repeat;
    margin-left: 57px;
    background-size: 270px;
}

#texto1{
    position: relative;
    top: 200px;
    left: -59px;
}
#pizza2{
    background-image: url(../imagens/pizzamodelo2.png);
    height: 273px;
    background-size: 269px;
    margin-left: 16px;
    background-repeat: no-repeat;
}
#texto2{
    position: relative;
    top: 200px;
    left: -59px;
}
#pizza3{
    background-image: url(../imagens/pizzamodelo3.png);
    height: 270px;
    background-size: 266px;
    background-repeat: no-repeat;
    margin-left: 42px;
}
#texto3{
    position: relative;
    top: 200px;
    left: -45px;

}
#pizza7{
    background-image: url(../imagens/pizzamodelo7.png);
    height: 293px;
    background-repeat: no-repeat;
    background-size: 292px;
    margin-left: 22px;
    margin-top: -7px;
}
#texto7{
    position: relative;
    top: 200px;
    left: -36px;
}
#pizza5{
    background-image: url(../imagens/pizzamodelo5.png);
    height: 267px;
    background-repeat: no-repeat;
    background-size: 270px;
}
#texto5{
    position: relative;
    top: 285px;
    left: 13px;
}
#pizza6{
    background-image: url(../imagens/pizzamodelo6.png);
    height: 285px;
    background-size: 287px;
    margin-left: 0rem;
    background-repeat: no-repeat;
}
#texto6{
    position: relative;
    top: 284px;
    left: 18px;
}
#pizza4{
    background-image: url(../imagens/pizzamodelo4.png);
    height: 287px;
    background-repeat: no-repeat;
    background-size: 294px;
    margin-left: 0rem;
}


#texto4{
    position: relative;
    top: 287px;
    left: 49px;
}
#caixaa{
    width: 96vw;
    height: 15rem;
    background: transparent;
    margin: 30rem auto 0 auto;
    border: solid 0px;
    display: flex;
    padding: 3rem;
    margin-left: -1rem;
    
}

#caixaa div{
    min-width: 19rem;
    max-height: 35rem;
    border: solid 0px;
    
}
#caixaa div p{
    margin-top: 40%;
    margin-left: 40%;
    font: bold 2rem sans-serif;
    color: white;
}
#caixaaa{
    width: 96vw;
    height: 15rem;
    background: transparent;
    margin: -43rem auto 0 auto;
    border: solid 0px;
    display: flex;
    padding: 3rem;
    margin-left: 2rem;
    
}

#caixaaa div{
    min-width: 20rem;
    max-height: 40rem;
    border: solid 0px;
}

#caixaaa div p{
    font: bold 2rem sans-serif;
    color: white;
}
#pizza8{
    background-image: url(../imagens/pizzamodelo8.png);
    height: 303px;
    background-size: 317px;
    background-repeat: no-repeat;
    margin-left: 27px;
    margin-top: 57px;
}
#texto8{
    position: relative;
    top: 200px;
    left: -19px;
}
#pizza11{
    background-image: url(../imagens/pizzamodelo11.png);
    height: 281px;
    background-repeat: no-repeat;
    background-size: 299px;
    margin-left: 0rem;
}
#texto11{
    position: relative;
    top: 288px;
    left: 6px;
}
#pizza9{
    background-image: url(../imagens/pizzamodelo9.png);
    height: 319px;
    background-size: 333px;
    background-repeat: no-repeat;
    margin-left: 26px;
    margin-top: 57px;
    
}
#texto9{
    position: relative;
    top: 131px;
    left: -149px;
}
#pizza10{
    background-image: url(../imagens/pizzamodelo10.png);
    height: 314px;
    background-size: 323px;
    background-repeat: no-repeat;
    margin-left: -140px;
    margin-top: 57px;
}
#texto10{
    position: relative;
    top: 200px;
    left: -47px;
}
#pizza12{
    background-image: url(../imagens/pizzamodelo12.png);
    height: 295px;
    background-size: 294px;
    background-repeat: no-repeat;
    margin-left: 28px;
    margin-top: 57px;
}
#texto12{
    position: relative;
    top: 200px;
    left: -49px;
}
#caixaaaa{
    width: 96vw;
    height: 15rem;
    background: transparent;
    margin: 4rem auto 0 auto;
    border: solid 0px;
    display: flex;
    padding: 3rem;
    margin-left: 0rem;
    
}

#caixaaaa div{
    min-width: 19rem;
    max-height: 35rem;
    border: solid 0px;
    
}
#caixaaaa div p{
    margin-top: 40%;
    margin-left: 40%;
    font: bold 2rem sans-serif;
    color: white;
}
#caixaaaaa{
    width: 96vw;
    height: 15rem;
    background: transparent;
    margin: 4rem auto 0 auto;
    border: solid 0px;
    display: flex;
    padding: 7rem;
    margin-left: -1rem;
    
}

#caixaaaaa div{
    min-width: 19rem;
    max-height: 72rem;
    border: solid 0px;
    
}
#caixaaaaa div p{
    margin-top: 40%;
    margin-left: 40%;
    font: bold 2rem sans-serif;
    color: white;
}
#pizza13{
    background-image: url("../imagens/pizzamodelo13.png");
    height: 311px;
    background-size: cover;
    margin-left: 2rem;
}
#texto13{
    position: relative;
    top: 200px;
    left: -34px;
}
#pizza14{
        background-image: url(../imagens/pizzamodelo14.png);
        height: 315px;
        background-size: 310px;
        background-repeat: no-repeat;
        margin-left: 2rem;
}
#texto14{
    position: relative;
    top: 123px;
    left: -141px;
}
#pizza15{
    background-image: url(../imagens/pizzamodelo15.png);
    height: 300px;
    background-size: 306px;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-left: -131px;
}
#texto15{
    position: relative;
    top: 187px;
    left: -20px;
}
#pizza16{
    background-image: url(../imagens/pizzamodelo16.png);
    height: 289px;
    background-size: 305px;
    background-repeat: no-repeat;
    margin-top: 12px;
    margin-left: 22px;
}
#texto16{
    position: relative;
    top: 165px;
    left: -49px;
}
#pizza17{
    background-image: url(../imagens/pizzamodelo17.png);
    height: 329px;
    background-size: 317px;
    background-repeat: no-repeat;
    margin-left: -12px;
}
#texto17{
    position: relative;
    top: 133px;
    left: -153px;
}
#pizza18{
    background-image: url("../imagens/pizzamodelo18.png");
    height: 302px;
    background-size: 319px;
    background-repeat: no-repeat;
    margin-left: -121px;
}
#texto18{
    position: relative;
    top: 200px;
    left: -28px;
}
#pizza19{
    background-image: url(../imagens/pizzamodelo19.png);
    height: 302px;
    background-size: 317px;
    background-repeat: no-repeat;
    margin-left: 18px;
}
#texto19{
    position: relative;
    top: 196px;
    left: -45px;
}
#pizza20{
    background-image: url(../imagens/pizzamodelo20.png);
    height: 317px;
    background-size: 331px;
    background-repeat: no-repeat;
    margin-left: -22px;
}
#texto20{
    position: relative;
    top: 168px;
    left: -84px;
}




#texto{
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Merriweather Sans', sans-serif;
    position: fixed;
    top: 69px;
    
}
#menu {
    margin-top:-28%;
    
}
header{
    display: block;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    }

li{
display: inline-block;
margin: 20px;

}

ul{
    text-align: left;
    width: 100%;
    color: rgb(243, 239, 239);
    font-size: 15px;
    font-family: 'Merriweather Sans', sans-serif;
    position: fixed;
    top: 100px;
    
}
@font-face {
    font-family: minhaFonte;
    src: url(../fonts/AadPro-Bold.woff2);
}
@font-face {
    font-family: minhaFonte2;
    src: url(../fonts/Mooli-Regular.ttf);
}
@font-face {
    font-family: minhaFonte3;
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: minhaFonte4;
    src: url(../fonts/Nunito-VariableFont_wght.ttf);
}
@font-face {
    font-family: minhaFonte5;
    src: url(../fonts/MerriweatherSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: minhaFonte6;
    src: url(../fonts/GraviolaSoftRegular.otf);
}
@font-face {
    font-family: minhaFonte7;
    src: url(../fonts/Graviola-Regular.otf);
}
@font-face {
    font-family: minhaFonte8;
    src: url(../fonts/GROBOLD.ttf);
}


#inscreva-se-btn{
    border: 2px solid #ca0808;
    background-color: #ca0808;
    border-radius: 50px;
    right: 100px; 
    position: fixed;
    font-size: 30px;
    font-family: minhaFonte;
    margin: 0px;
    top: 70px;

}
#inscreva-se-btn:hover{
border: 2px solid white;
background: transparent;
padding: -1px;
border-radius: 50px;
transition-delay: 0s;
transition-duration: 0.4s;
opacity: 1;

}

#menudireito{
    font-family: 'Merriweather Sans', sans-serif;
    right: 10px; 
    position:absolute;
    font-size: 25px;
    font-family: minhaFonte;
    display: inline-block;
    margin: 0px;
    
}

#text{
    color: white;
    font-size: 15px;
    font-family: minhaFonte7;
    margin:0;
    width: 150px;
    cursor: pointer; 
    text-align: center;
    position: relative;
    top: -6px;
}



@media screen and (min-width: 1500px) {
    body {
            width: 100vw;
            height: 100vh;
            background-repeat: no-repeat;
            background-image: url("../imagens/pizza1.jpg");
            background-size: 2000px;
            position: fixed;
            margin: 0;
            overflow: hidden
    }

}


@media screen and (max-width: 1172px) {
    #texto{
        text-align: center;
        width: 100%;
        color: rgb(243, 239, 239);
        font-size: 70px;
        font-family: 'Merriweather Sans', sans-serif;
        position: fixed;
        top: 5000px;
        
    }

}
