#tabela{
    position: relative;
    top: -560px;
    left: 756px;
}
#texto{
    position: relative;
    top: -547px;
    left: 756px;
}
#tabela1{
    position: relative;
    top: 58px;
    left: 114px;
}
#textingredientes1{
    position: relative;
    top: 58px;
    left: 114px;
}
#links1{
    position: relative;
    top: 58px;
    left: 114px;
}
#tabela2{
    position: relative;
    top: -270px;
    left: 756px;
}
#textingredientes2{
    position: relative;
    top: -270px;
    left: 756px;
}
#links2{
    position: relative;
    top: -232px;
    left: 783px;

}
#textestoque{
    position: relative;
    top: 36px;
    left: 596px;
    font-size: 50px;
}