A {text-decoration: none;}
    * {
            margin:0;
            box-sizing: 0;
        }
body {
            width: 100vw;
            height: 100vh;
            background-repeat: no-repeat;
            background-image: url("../imagens/fundomadeira.jpg");
            background-size: 100%;
            margin: 0;
           overflow: hidden;
           
}
#tamanho1{
    background-image: url(../imagens/pizzaGG.png);
    height: 223px;
    width: 244px;
    right: -117px;
    background-size: cover;
    position: relative;
    top: 136px;
}
#tamanho2{
    background-image: url(../imagens/pizzaGG.png);
    height: 279px;
    width: 253px;
    right: -404px;
    background-size: cover;
    position: relative;
    top: -104px;
}
#tamanho3{
    background-image: url(../imagens/pizzaGG.png);
    height: 296px;
    width: 305px;
    right: -693px;
    background-size: cover;
    position: relative;
    top: -394px;
}
#tamanho4{
    background-image: url(../imagens/pizzaGG.png);
    height: 300px;
    width: 329px;
    right: -983px;
    background-size: cover;
    position: relative;
    top: -704px;
}
#texto1{
    position: relative;
    top: -696px;
    color: #ffffff;
    left: 1090px;
    font-size: 34px;
    font-family: 'Merriweather Sans', sans-serif;
}
#texto2{
    position: relative;
    top: -843px;
    color: #ffffff;
    left: 740px;
    font-size: 34px;
    font-family: 'Merriweather Sans', sans-serif;
}
#texto3{
    position: relative;
    top: -991px;
    color: #ffffff;
    left: 444px;
    font-size: 34px;
    font-family: 'Merriweather Sans', sans-serif;
}
#texto4{
    position: relative;
    top: -1138px;
    color: #ffffff;
    left: 124px;
    font-size: 34px;
    font-family: 'Merriweather Sans', sans-serif;
}
#pedacos1{
    position: relative;
    color: rgb(189, 189, 189);
    left: 28px;
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
}
#pedacos2{
    position: relative;
    color: rgb(189, 189, 189);
    left: 28px;
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
}
#pedacos3{
    position: relative;
    color: rgb(189, 189, 189);
    left: 13px;
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
}
#pedacos4{
    position: relative;
    color: rgb(189, 189, 189);
    left: 38px;
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
}

#preco1{
    position: relative;
    color: yellow;
    left: 9px;
    font-size: 50px;
    font-family: minhaFonte7;
}
#preco2{
    position: relative;
    color: yellow;
    left: 11px;
    font-size: 50px;
    font-family: minhaFonte7;
}
#preco3{
    position: relative;
    color: yellow;
    left: -10px;
    font-size: 50px;
    font-family: minhaFonte7;
}
#preco4{
    position: relative;
    color: yellow;
    left: 28px;
    font-size: 50px;
    font-family: minhaFonte7;
}
#sifrao1{
    position: relative;
    color: rgb(255, 0, 0);
    left: 148px;
    font-size: 19px;
    font-family: minhaFonte7;
    top: -677px;
    z-index: 1;
}
#sifrao2{
    position: relative;
    color: rgb(255, 0, 0);
    left: 467px;
    font-size: 18px;
    font-family: minhaFonte7;
    top: -702px;
    z-index: 1;
}
#sifrao3{
    position: relative;
    color: rgb(255, 0, 0);
    left: 765px;
    font-size: 18px;
    font-family: minhaFonte7;
    top: -723px;
    z-index: 1;
}
#sifrao4{
    position: relative;
    color: rgb(255, 0, 0);
    left: 1064px;
    font-size: 18px;
    font-family: minhaFonte7;
    top: -746px;
    z-index: 1;
}
#menutexto{
    text-align: center;
    position: relative;
    top: 56px;
    left: auto;
    color: #f9f9f9;
    font-size: 50px;
    font-family: 'minhaFonte7';
}



#menu {
    margin-top:-28%;
    
}
header{
display: block;
flex-direction: row;
justify-content: space-between;
align-items: center;

}

li{
display: inline-block;
margin: 20px;

}

ul{
    text-align: left;
    width: 100%;
    color: rgb(243, 239, 239);
    font-size: 15px;
    font-family: 'Merriweather Sans', sans-serif;
    position: fixed;
    top: 100px;
    
}
@font-face {
    font-family: minhaFonte;
    src: url(../fonts/AadPro-Bold.woff2);
}
@font-face {
    font-family: minhaFonte2;
    src: url(../fonts/Mooli-Regular.ttf);
}
@font-face {
    font-family: minhaFonte3;
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: minhaFonte4;
    src: url(../fonts/Nunito-VariableFont_wght.ttf);
}
@font-face {
    font-family: minhaFonte5;
    src: url(../fonts/MerriweatherSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: minhaFonte6;
    src: url(../fonts/GraviolaSoftRegular.otf);
}
@font-face {
    font-family: minhaFonte7;
    src: url(../fonts/GROBOLD.ttf);
}
@font-face {
    font-family: minhaFonte8;
    src: url(../fonts/Graviola-Regular.otf);
}


#inscreva-se-btn{
    border: 2px solid #ca0808;
    background-color: #ca0808;
    border-radius: 50px;
    right: 100px; 
    position: fixed;
    font-size: 30px;
    font-family: minhaFonte;
    margin: 0px;
    top: 70px;

}
#inscreva-se-btn:hover{
border: 2px solid white;
background: transparent;
padding: -1px;
border-radius: 50px;
transition-delay: 0s;
transition-duration: 0.4s;
opacity: 1;

}

#inscreva-se-btnn{
    border: 2px solid #ca0808;
    background-color: #ca0808;
    border-radius: 50px;
    right: 1180px; 
    position: fixed;
    font-size: 30px;
    font-family: minhaFonte;
    margin: 0px;
    top: 70px;

}
#inscreva-se-btnn:hover{
border: 2px solid white;
background: transparent;
padding: -1px;
border-radius: 50px;
transition-delay: 0s;
transition-duration: 0.4s;
opacity: 1;

}

#menudireito{
    font-family: 'Merriweather Sans', sans-serif;
    right: 10px; 
    position:absolute;
    font-size: 25px;
    font-family: minhaFonte;
    display: inline-block;
    margin: 0px;
    
}
#menuesquerdo{
    font-family: 'Merriweather Sans', sans-serif;
    right: 10px; 
    position:absolute;
    font-size: 25px;
    font-family: minhaFonte;
    display: inline-block;
    margin: 0px;
    
}

#text{
    color: white;
    font-size: 15px;
    font-family: minhaFonte8;
    margin:0;
    width: 150px;
    cursor: pointer; 
    text-align: center;
    position: relative;
    top: -6px;
}



@media screen and (min-width: 1500px) {
    body {
            width: 100vw;
            height: 100vh;
            background-repeat: no-repeat;
            background-image: url("../imagens/pizza1.jpg");
            background-size: 2000px;
            position: fixed;
            margin: 0;
            overflow: hidden
    }

}


@media screen and (max-width: 1172px) {
    #texto{
        text-align: center;
        width: 100%;
        color: rgb(243, 239, 239);
        font-size: 70px;
        font-family: 'Merriweather Sans', sans-serif;
        position: fixed;
        top: 5000px;
        
    }

}
